RewriteEngine on

DirectoryIndex index.php

###############################################
# Necessario quando existe locais sem reescrita
###############################################
RewriteCond $1 !^(index\.php|static|files|services/.+\.php)
RewriteRule ^wireframe - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

###############################################
# reescreve url por parametros
###############################################
RewriteRule ^([^/]+)/([^/]+)/(\S+)$ index.php?controller=$1&action=$2&parameters=$3 [L]
RewriteRule ^([^/]+)/([^/]+)$ index.php?controller=$1&action=$2 [L]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)$ index.php?controller=$1 [L]